upstream {{tech}}_{{host}} {
    server unix:/home/{{username}}/{{tech}}_{{host}}.socket;
}

server {
    listen              80;
    listen              443 ssl;
    ssl_certificate     {{tls_crt_path}};
    ssl_certificate_key {{tls_key_path}};
    server_name         {{fqdn}};

    root            {{webroot}};

{{#php}}
    index index.php;
{{/php}}

    location / {
{{#ldap-basic-auth}}
        auth_pam              "LDAP";
        auth_pam_service_name "nginx_ldap";
{{/ldap-basic-auth}}

{{#php}}
        try_files $uri @proxy;
{{/php}
    }

{{#php}
    location ~ \.php(?:$|/) {
        include snippets/fastcgi-php.conf;
        fastcgi_pass {{tech}}_{{host}};
    }

{{/php}

{{^php}}
    location @proxy {
        include         fastcgi_params;
{{#ldap-basic-auth}}
        proxy_set_header REMOTE_USER $remote_user;
{{/ldap-basic-auth}}
        proxy_pass      http://{{tech}}_{{host}};
        proxy_redirect  off;
    }
}
{/php}}
